body{
    width: 80%;
    margin: 10px auto;
}
#contenu{
    background-color: red;
    border: 2px black;
    color: white;
    text-align: center;
    padding-top: 6px; /* marge intérieur */
}

header,footer{
    height: 80px;
    background-color: blueviolet;
    text-align: center;
    padding-top: 6px; /* marge intérieur */
}

nav{
    height: 40px;
    background-color: crimson;
    color: white;
    padding-left: 20px;
}

section{
    border: 20px solid cornflowerblue;
    background-color: chartreuse;
    height: 500px;
    text-align: center;
}

p{
    margin: 0;
}