header {
    background-color: white;
    text-align: left;
    border: 1px solid #000;
    display: flex;
}

body{
    background-color: white;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
}

section{
    background-color: white;
    text-align: center;
}

.box{
    background: url(./image/bg_menu.gif);
    flex-direction: row;
    display: flex;
    justify-content: center
}

.container{
    text-align: center;
    flex-direction: auto;
    flex-direction: auto
}

.container1{
    text-align: center;
    display: flex;
    flex-direction: auto
    }